<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
 
 
 

  <div class="button-wrapper" id="balance">
    
    <a  class="buttonM" [routerLink]="['/add-propositions']">
      Add Proposition
    </a>
  </div>
  <br><br>
  <div class="button-wrapper" id="balance">
    
    <a  class="buttonV" [routerLink]="['/liste-propositions']">
      See propositions & Vote
    </a>
  </div>
</div>


</body>
</html>