<body>
  
  <br/><br/><br/><br/><br/><br/>
  
  
  
  
  <div style="display: flex;">
  
  
  <form class="form-container" style="flex: 1;" >
  
     
  
        
        <div class="signup-form">
          <h2><img src="../../../assets/img/adduser.png" alt="Icône" class="icon"> ADD étudiant</h2>


          <form #signupForm="ngForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" [(ngModel)]="registerRequestetud.email" required>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="registerRequestetud.password" required>
            </div>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="registerRequestetud.nom" required>
            </div>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="registerRequestetud.prenom" required>
            </div>
            <div class="form-group">
              <label for="prenom">numero de la carte</label>
              <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="registerRequestetud.numeroCarte" required>
            </div>
            <div class="form-group">
              <label for="prenom">codeSecurite</label>
              <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="registerRequestetud.codeSecurite" required>
            </div>
            <div class="form-group">
              <label for="prenom">solde </label>
              <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="registerRequestetud.soldeCarte" required>
            </div>
  
            <div class="role-selection">
              
              <button type="submit" class="btn btn-primary btn-block mb-4"  (click)="signupEtudiant()">ajouter Étudiant</button>
              
            </div>
          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
            
  
  
  
  
  
  
  
            <div class="etudiants-section">
              <h2>Liste des étudiants</h2>
              <ul>
                <li *ngFor="let etudiant of etudiants">
                  <form #etudiantForm="ngForm"  (ngSubmit)="updateEtudiant(etudiant.id, updatedEtudiant)">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="updatedEtudiant.email" placeholder="{{ etudiant.email }}" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="updatedEtudiant.password" placeholder="********" required>
                    </div>
                    <div class="form-group">
                      <label for="nom">Nom</label>
                      <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="updatedEtudiant.nom" placeholder="{{ etudiant.nom }}" required>
                    </div>
                    <div class="form-group">
                      <label for="prenom">Prénom</label>
                      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="updatedEtudiant.prenom" placeholder="{{ etudiant.prenom }}" required>
                    </div>
                    <div class="form-group">
                      <label for="prenom">numero de la carte</label>
                      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="updatedEtudiant.numeroCarte"  placeholder="{{ etudiant.numeroCarte }}" required>
                    </div>
                    <div class="form-group">
                      <label for="prenom">codeSecurite</label>
                      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="updatedEtudiant.codeSecurite" placeholder="{{ etudiant.codeSecurite}}" required>
                    </div>
                    <div class="form-group">
                      <label for="prenom">solde </label>
                      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="updatedEtudiant.soldeCarte"  placeholder="{{ etudiant.soldeCarte }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                  <br/> <br/> 
                  
                    <button class="btn btn-danger" (click)="deleteEtudiant(etudiant.id)">Supprimer</button>
                  </form>
                </li>
              </ul>
            </div>
            
          
            <!-- Afficher tous les chefs -->
          
  
  
            
          </form>
          
  
  
  
  
  
  
  
  
  
  
  
  
  
          
        </div>
      
      </form>
  
      <form class="form-container" style="flex: 1;">
  
     
  
        
        <div class="signup-form">
          <h2><img src="../../../assets/img/adduser.png" alt="Icône" class="icon"> ADD chef</h2>
          <form #signupForm="ngForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" [(ngModel)]="registerRequestchef.email" required>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="registerRequestchef.password" required>
            </div>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="registerRequestchef.nom" required>
            </div>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="registerRequestchef.prenom" required>
            </div>
            <div class="role-selection">
              <h2>Ajouter en tanque  </h2>
            
              <button type="submit" class="btn btn-primary btn-block mb-4" (click)="signupChef()">ajouter Chef</button>
            </div>
            <div class="chefs-section">
              <h2>Liste des chefs</h2>
              <ul>
                <li *ngFor="let chef of chefs">
                  <form #chefForm="ngForm" (ngSubmit)="updateChef(chef.id, updatedChef)">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="updatedChef.email" placeholder="{{ chef.email }}" required>
                    </div>
                    <div class="form-group">
                      <label for="nom">Nom</label>
                      <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="updatedChef.nom" placeholder="{{ chef.nom }}" required>
                    </div>
                    <div class="form-group">
                      <label for="prenom">Prénom</label>
                      <input type="text" id="prenom" name="prenom" class="form-control" [(ngModel)]="updatedChef.prenom" placeholder="{{ chef.prenom }}" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="updatedChef.password" placeholder="********" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                <br/><br/>
                    <button type="button" class="btn btn-danger" (click)="deleteChef(chef.id)">Supprimer</button>
                  </form>
                </li>
              </ul>
            </div>
  
          </form>
  
  
        </div>
  
      </form>
  
  </div>
  
   <div class="places-available">
    <img src="../../../assets/img/restaurant.png" alt="Image de places disponibles">
    <h1>  le nombre  de place disponible   :  {{nombredeplaces}} </h1>
    
  </div>
    
  
      
      