


<body>
  

<br/><br/><br/><br/><br/>




<br/><br/><br/><br/><br/>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "/>
  
<div class="container">
  <div class="row">
    
    
      <div class="col-md-offset-1 col-md-10">
      
          <div class="panel">
            
              <div class="panel-heading">
                  <div class="row">
                    
                      <div class="col-sm-12 col-xs-12">
                          <form class="form-horizontal pull-right">
                              <div class="form-group">
                                  <label>Claims List</label>
                                 
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                           
                             
                              <th>Description</th>
                             
                           
                            
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let m of reclamations ">
                             
                              
                             

                              <td>{{m.contenu}}</td>
                             
                        

                      
                          </tr>
                      </tbody>
                  </table>
              </div>
              
          </div>
      </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br><br><br><br><br><br><br><br><br><br><br><br><br>

  
  <div >
  
    
  