<body><br><br><br><br><br><br><br><br><br><br>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css "/>
  
<div class="container">
  <div class="row">
    
    
      <div class="col-md-offset-1 col-md-10">
      
          <div class="panel">
            
              <div class="panel-heading">
                  <div class="row">
                    
                      <div class="col-sm-12 col-xs-12">
                          <a (click)="AjouterChef()" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New</a>
                          <form class="form-horizontal pull-right">
                              <div class="form-group">
                                  <label>Chefs List</label>
                                 
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                            <th>Action</th>
                              <th>Nom</th>
                              <th>email</th>
                              <th>prenom</th>
                             
                           
                            
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let m of chefs ">
                              <td>
                                <ul class="action-list">
                                    <li>      <a (click)=" ModifierrChef(m.id) " class="btn btn-primary"><i class="fa fa-pencil"></i></a>  </li>
                                      <li> <a  (click)="deleteChef(m.id)" class="btn btn-danger"><i class="fa fa-times"></i></a></li>
                                      </ul>
                              </td>
                            
                              
                              <td>{{m.nom}}</td>
                              <td>{{m.email}}</td>

                              <td>{{m.prenom}}</td>
                             
                        

                          </tr>
                      </tbody>
                  </table>
              </div>
              
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
</body>