<br><br><br><br><br>
<form [formGroup]="menuForm">
    Id : <input type="number" name="" id="" formControlName="id"><br>
    Description : <input type="text" name="" id="" formControlName="description"><br>
    Dessert : <input type="text" name="" id="" formControlName="dessert"><br>
    Quantity : <input type="number" name="" id="qteDisponible"><br>
    <br>
    <input type="button" value="add" (click)="addPlat()"><br>
    <input type="button" value="Update"><br>
    <input type="button" value="Delete"><br>
</form>