<body>
    <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3 style="color: black;">Add Menu</h3>
          <div class="card">
            <form class="form-card" onsubmit="event.preventDefault()" [formGroup]="menuForm">
              <input type="number" formControlName="id" hidden />
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Description<span class="text-danger"> *</span></label>
                  <input type="text" id="descriptionPlat" name="descriptionPlat" placeholder="Description of the meal" formControlName="descriptionPlat" />
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Dessert<span class="text-danger"> *</span></label>
                  <input type="text" id="dessert" name="dessert" placeholder="Enter Dessert" formControlName="dessert" />
                </div>
              </div>
              <div class="row justify-content-between text-left">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Supplement<span class="text-danger"> *</span></label>
                  <input type="text" id="supplement" name="supplement" placeholder="Supplement" formControlName="supplement" />
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="form-control-label px-3">Quantity<span class="text-danger"> *</span></label>
                  <input type="number" id="qteDisponible" name="qteDisponible" placeholder="Enter Quantity" formControlName="qteDisponible" />
                </div>
              </div>
              <br>
              <br>
              <div class="row justify-content-end">
                <div class="form-group col-sm-6">
                  <button type="submit" class="btn btn-info" (click)="addPlat()" [disabled]="menuAdded">Validate</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  