<div *ngIf="ismenuVisble">

  
    <header id="header" class="fixed-top d-flex align-items-cente" >
   
     <img src="assets/img/rades.png" alt="Logo" class="logo-img" >
     <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
   
         <h1 class="logo me-auto me-lg-0" style="font-family: 'Times New Roman', Times, serif;"><a href="index.html">E-Resto</a></h1>
         
         <nav id="navbar" *ngIf="this.auth.getUserRole()==false" class="navbar order-last order-lg-0" >
           <ul>
             <li><a class="nav-link scrollto active" [routerLink]="['/acceuil']">Home</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/affichage-menu']">Menu</a></li>
           </ul>
           <i class="bi bi-list mobile-nav-toggle"></i>
         </nav><!-- .navbar -->
         <nav id="navbar" *ngIf="this.auth.getUserRole()=='ADMIN'" class="navbar order-last order-lg-0" >
           <ul>
             <li><a class="nav-link scrollto " [routerLink]="['/admin']">Claim</a></li>
             
             <li><a class="nav-link scrollto" [routerLink]="['/etudGest']">Student</a></li>
             <li><a class="nav-link scrollto " [routerLink]="['/chefGest']">Chef</a></li>
             
             </ul>
         </nav><!-- .navbar -->
         <nav id="navbar" *ngIf="this.auth.getUserRole()=='CHEF'" class="navbar order-last order-lg-0" >
           <ul>
            <li><a class="nav-link scrollto " [routerLink]="['/chef']">Home</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/affichage-menu']">See Menu</a></li>
           </ul>
           <i class="bi bi-list mobile-nav-toggle"></i>
         </nav>
         <nav id="navbar" *ngIf="this.auth.getUserRole()=='ETUDIANT'" class="navbar order-last order-lg-0" >
           <ul>
             <li><a class="nav-link scrollto" [routerLink]="['/etudiant']">Recharge card</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/affichage-menu']">See menu</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/etudiantTra']">Transactions</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/propositions']">Propositions</a></li>
             <li><a class="nav-link scrollto" [routerLink]="['/history']">Previous Rates</a></li>
           </ul>
           <i class="bi bi-list mobile-nav-toggle"></i>
           
         </nav><ng-container *ngIf="this.auth.isLoggedIn()">
         <a (click)="this.auth.logout()"  [routerLink]="['/acceuil']" class="book-a-table-btn scrollto d-none d-lg-flex">Log out</a></ng-container>
         <ng-container *ngIf="!this.auth.isLoggedIn()">
         <a  [routerLink]="['/login']" class="book-a-table-btn scrollto d-none d-lg-flex">Log In</a>
         <a  [routerLink]="['/signup']" class="book-a-table-btn scrollto d-none d-lg-flex">Sign Up</a></ng-container>
         
       </div>
     </header >
   </div>
<router-outlet></router-outlet>
<app-footer></app-footer>
