body {
  color: #000;
 
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md-6.ftco-animate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {

  margin-bottom: 50px;
}

.row {
  justify-content: center; /* Center children horizontally */
}

.menu-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.menu-item img {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
}

