<body>
  <br><br><br><br>
<section class="ftco-section" id="section-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h2 class="display-4">Today's Menu</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Today's menu is not just a list of dishes, it's a journey through flavors, a story waiting to be savored, a symphony of tastes crafted with passion and creativity.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center">

        <div class="tab-content text-left">
          <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
            <div class="row">
              <div class="col-md-6 ftco-animate">
                <div class="media menu-item">
                  <img class="mr-3" src="../../../assets/img/plat-principal.png" class="img-fluid" alt="Free Template by Free-Template.co">
                  <div class="media-body">
                    <h5 class="mt-0">Main dish</h5>
                    <p>{{menu.descriptionPlat}}</p>
                  </div>
                </div><br><br><br>
                <div class="media menu-item" >
                  <img class="mr-3" src="../../../assets/img/dessert.png" class="img-fluid" alt="Free Template by Free-Template.co">
                  <div class="media-body">
                    <h5 class="mt-0">Dessert</h5>
                    <p>{{menu.dessert}}</p>
                  </div>
                </div><br><br><br>
                <div class="media menu-item">
                  <img class="mr-3" src="../../../assets/img/des-legumes.png" class="img-fluid" alt="Free Template by Free-Template.co">
                  <div class="media-body">
                    <h5 class="mt-0">Supplement</h5>
                    <p>{{menu.supplement}}</p>
                  </div>
                </div>
              </div>
            </div>     
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rating" *ngIf="this.as.getUserRole()=='ETUDIANT'">
  <input type="radio" id="star-1" name="star-radio" value="star-1" (click)="this.vote(5)">
  <label for="star-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-2" name="star-radio" value="star-1" (click)="this.vote(4)">
  <label for="star-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" (click)="this.vote(1)"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-3" name="star-radio" value="star-1" (click)="this.vote(3)">
  <label for="star-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-4" name="star-radio" value="star-1" (click)="this.vote(2)">
  <label for="star-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label>
  <input type="radio" id="star-5" name="star-radio" value="star-1" (click)="this.vote(1)">
  <label for="star-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>
  </label><h2 >Rate this Menu &nbsp;:&nbsp;</h2>  
</div> <div class="container"><button class="bookmarkBtn" (click)="addComment()">
  <span class="IconContainer"> 
   <svg fill="white" viewBox="0 0 512 512" height="1em"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
  </span>
  <p class="text">Comment</p>
</button></div>
<br><br><br><br><br>

</body>