body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: wheat;
}

.container {
    display: flex;
    height: 100vh;
}

.button-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonM, .buttonP,.buttonB {
    padding: 150px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s;
    
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain; 
}

.buttonM {
    margin-right: 50px;


    background-image: url(../../../assets/img/menu.png);
}
.buttonB {
   
    background-image: url(../../../assets/img/phone.png);
}

.buttonP {
    margin-right: 50px;

    background-image: url(../../../assets/img/payment.png);
}
.buttonM {
    margin-right: 50px;

    background-image: url(../../../assets/img/assessment.png);
}
.buttonV {
    margin-right: 50px;

    background-image: url(../../../assets/img/vote.png);
}

.buttonP:hover, .buttonM:hover,.buttonB:hover,.buttonM:hover,.buttonV {
    transform: scale(1.5);
}
.places-available {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .places-available h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .places-available img {
    width: 200px; /* ajustez la taille selon vos besoins */
    height: auto;
    border-radius: 50%; /* pour arrondir les coins de l'image */
  }