<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
  <div class="button-wrapper" id="card">
    <a  class="buttonP" (click)="rech()" >

      Reload Card    </a>
  </div>
 
 
  <div class="button-wrapper" id="balance">
    
    <a  class="buttonB" (click)="checkBalance()">
      check balance
    </a>
  </div>
 
</div>
<div class="button-wrapper" id="balance">
  <img src="../../../assets/img/restaurant.png" alt="Image de places disponibles" style="width: 250px;">
  <h1 style="color: black; font-family: 'Roboto', sans-serif;">   The available seat count: {{nombredeplaces}}</h1>

</div>

<br><br><br><br>
</body>
</html>
